<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.familyservicestoronto.shortcut">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shortcut">
        <activity android:name=".FacebookEditProfileActivity" />
        <activity android:name=".YoutubeSearchVideoActivity" />
        <activity android:name=".FacebookUploadActivity" />
        <activity android:name=".FacebookAddFriendActivity" />
        <activity android:name=".FacebookTutorialActivity" />
        <activity android:name=".GmailAddAccountActivity" />
        <activity android:name=".GmailOpenEmailActivity" />
        <activity android:name=".GmailComposeEmailActivity" />
        <activity android:name=".GmailTutorialActivity" />
        <activity android:name=".WhatsappNewContactActivity" />
        <activity android:name=".WhatsappUploadActivity" />
        <activity android:name=".WhatsappProfileActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WhatsappTutActivity" />
    </application>

</manifest>